.homeSobre{
    padding: 10rem;
    display: flex;
    justify-content: center;
}

.homeSobre__conteudo{
    display: flex;
    max-width:  1100px;
    gap: 30px;
}

.homeSobre__esquerda{
    display: inline-flex;
    flex-direction: column;
    gap: 60px;
}

.homeSobre__texto{
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
}

.homeSobre h1{
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

.homeSobre h3{
    font-size: 22px;
    font-weight: 200;
    text-align: left;
}

.botao{
    width: 321px;
}

.imagemContainer{
    min-width: 450px;
    height: 674.86px;
    border-radius: 16px;
    overflow: hidden;
}

.imagemContainer img{
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    .homeSobre h1{
        font-size: 30px;
    }

    .homeSobre h3{
        font-size: 19px;
    }

    .imagemContainer{
        min-width: 350px;
        height: 524.22px;
    }
    
}

@media (max-width: 480px) {
    .homeSobre{
        padding: 6rem;
        display: flex;
        justify-content: center;
    }

    .homeSobre h1{
        font-size: 20px;
        text-align: center;
    }

    .homeSobre h3{
        font-size: 12px;
        text-align: center;
    }

    .imagemContainer{
        display: none;
    }
    
    .homeSobre__conteudo{
        justify-content: center;
        align-items: center;
    }

    .botao{
        width: 230.63px;
    }
}