.planos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.planos__container{
    display: flex;
    gap: 40px;
    padding-bottom: 10rem;
}

@media (max-width: 1024px) {
    .planos__container{
        flex-direction: column;
        width: 100%;
        padding: 0 60px 10vh 60px;
    }
}

@media (max-width: 480px) {
    .planos__texto h1{
        font-size: 50px;
    }

    .planos__texto h2{
        font-size: 16px;
    }
}