.equipeLista{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10rem 2rem;
    row-gap: 100px;
    max-width: 1400px;
    margin: auto;
}

.gatilho{
    height: 0px;
    width: 0px;
}

@media (max-width: 768px) {
    .equipeLista{
        grid-template-columns: repeat(2, 1fr);
    }
}