.cardPlano{
    max-width: 380px;
    background-color: #F7F7F7 !important;
    color: black;
    text-decoration: none;
    padding: 50px 20px 30px 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cardPlano.destaque{
    background-color: white !important;
    color: black;
}

.cardPlano__texto{
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}

.cardPlano__texto p{
    font-size: 18px;
    font-weight: 400;
}

.cardPlano__texto h2{
    font-size: 55px;
}

.cardPlano span{
    display:block;
    width:100%;
    border: 1px solid black;
    opacity: 0.7;
}

.container__beneficios{
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}

.cardPlano__beneficio{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.cardPlano__beneficio p{
    font-size: 18px;
    font-weight: 400;
}