.footer{
    bottom: 0;
    height: 40vh;
    padding: 30px 60px 0 60px;
    background-color: #181a1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.footer__container{
    display: flex;
    gap: 100px;
    padding-bottom: 30px;
}

.conteudo__container{
    display: flex;
    gap: 20px;
}

.conteudo__container img{
    width: 40px;
    height: 40px;
}

.contato__conteudo,
.horario__conteudo{
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    min-width: 270px;
}

.contato__texto__h3,
.horario__texto,
.horario__numeros{
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}

.contato__texto__h3 h3{
    font-size: 18px;
    font-weight: 300;
}

.horario__container{
    display: flex;
    justify-content: space-between;
}

.horario__container h3{
    font-size: 18px;
    font-weight: 300;
}

.icones__redes{
    display: flex;
    gap: 20px;
}

.icones__redes img{
    width: 40px;
    height: 40px;
    filter: invert(100%);
}

@media (max-width: 1024px) {
    .footer{
        padding: 30px 20px 0 20px;
    }

    .footer__container{
        display: flex;
        gap: 50px;
        padding-bottom: 30px;
    }

    .contato__conteudo h1,
    .horario__conteudo h1{
        font-size: 24px;
    }


    .contato__texto__h3 h3,
    .horario__container h3{
        font-size: 16px;
        font-weight: 300;
    }

    .conteudo__container img{
        width: 30px;
        height: 30px;
    }

    .icones__redes img{
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 768px) {
    .footer{
        height: 70vh;
    }
    .footer__container{
        flex-direction: column;
    }
}