.homeInscreva{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 300px 0 0 0;
}

.homeInscreva__conteudo{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    color: black;
    max-width: 800px;
    padding: 0 0 300px 0;
}

.homeInscreva__conteudo h1{
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.homeInscreva__conteudo h2{
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    max-width: 80%;
}

.container__imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cinza);
    width: 100%;
}

.wrapper__imgs{
    position: relative;
    min-width: 1080px;
    transform: translateY(-200px);
}

.imagem1{
    position: relative;
    z-index: 0;
}

.imagem2{
    position: absolute;
    z-index: 1;
    bottom: -30px;
    right: 0;
}

@media (max-width: 1024px) {
    .wrapper__imgs{
        min-width: 1024px;
    }

}

@media (max-width: 768px) {
    .wrapper__imgs{
        min-width: 768px;
    }

    .imagem1{
        width: 350px;
    }

    .imagem2{
        width: 450px;
    }
}

@media (max-width: 480px) {
    .homeInscreva__conteudo h1{
        font-size: 30px;
    }

    .homeInscreva__conteudo h2{
        font-size: 15px;
    }

    .wrapper__imgs{
        min-width: 480px;
    }

    .imagem1{
        width: 230px;
    }

    .imagem2{
        width: 295px;
    }
}