.sobreHistoria{
    padding: 22rem 10rem;
    display: flex;
    justify-content: center;
}

.sobreHistoria__conteudo{
    display: flex;
    max-width:  1100px;
    gap: 30px;
    align-items: center;
}

.sobreHistoria__texto{
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
}

.sobreHistoria h1{
    font-size: 60px;
    font-weight: 700;
    text-align: left;
}

.sobreHistoria h3{
    font-size: 22px;
    font-weight: 200;
    text-align: left;
}

.imagemContainer{
    min-width: 450px;
    height: 450px;
    border-radius: 16px;
    overflow: hidden;
}

.imagemContainer img{
    height: 100%;
    width: 100%;
}

@media (max-width: 1024px) {
    .sobreHistoria{
        padding: 18rem 10rem;
    }

    .sobreHistoria h1{
        font-size: 50px;
    }

    .sobreHistoria h3{
        font-size: 18px;
    }

    .imagemContainer{
        min-width: 300px;
        height: 300px;
    }

    .imagemContainer img{
        width: 300px;
    }
}

@media (max-width: 480px) {
    .imagemContainer{
        display: none;
    }

    .sobreHistoria{
        padding: 10rem 2rem;
    }

    .sobreHistoria h1{
        text-align: center;
    }
    
    .sobreHistoria h3{
        text-align: center;
    }
}