.principioCard{
    padding: 38px 48px;
    border: 3px solid;
    border-color: black;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}

.principioCard h3{
    font-size: 30px;
    font-weight: 600;
}

.principioCard p{
    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 1024px) {
    .principioCard h3{
        font-size: 26px;
    }

    .principioCard p{
        font-size: 16px;
        font-weight: 400;
    }

    .principioCard img{
        width: 60px;
    }
}