.homeEquipe{
    width: 100%;
    height: calc(100vh - 70px);
    overflow: hidden;
    position: relative;
}

.homeEquipe img{
    position: absolute;
    object-fit: cover;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.homeEquipe__conteudo{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.homeEquipe__texto{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 1000px;
}

.homeEquipe__conteudo h1{
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.homeEquipe__conteudo h3{
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    width: 70%;
}

@media (max-width: 1024px) {
    .homeEquipe__conteudo h1{
        font-size: 50px;
    }

    .homeEquipe__conteudo h3{
        font-size: 22px;
    }
}