.homeEquipe__conteudo{
    background-image: url('../../../public/images/equipe.jpg');
    background-size: cover;
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.homeEquipe__texto{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 1000px;
}

.homeEquipe__conteudo h1{
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.homeEquipe__conteudo h3{
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    width: 70%;
}