.banner{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    width: 100vw;
}

.banner video{
    position: sticky;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    filter: brightness(50%);
}


.banner__content{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    color: white;
}

.banner__content h1{
    font-size: 90PX;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    animation: ZoomOut 0.5s ease-in-out;
}

.banner__content h2{
    opacity: 0;
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    animation: 0.5s SlideUp 0.5s ease-in-out forwards;
    max-width: 80%;
}

@keyframes ZoomOut{
    0%{
        opacity: 0;
        scale: 2;
    }

    100%{
        opacity: 1;
        scale: 1;
    }
}

@keyframes SlideUp{
    0%{
        opacity:0;
        transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }
    to{
        opacity:1;
        transform: translateZ(0);
        transform: translateZ(0);
    }
}

@media (prefers-reduced-motion: reduce) {
    .banner__content h1{
        animation: none;
    }

    .banner__content h2{
        animation: none;
        opacity: 1;
    }

    .banner__button{
        animation: none;
        opacity: 1;
    }
}